/vendor/
/node_modules/
composer.lock
composer.phar
.phpunit.result.cache
.phpunit.cache/
coverage/
.env
.env.backup
.DS_Store
Thumbs.db
*.log
*.cache
/.idea
/.vscode
*.swp
*.swo
*~
.phpunit.cache
build/